.page {
  height: 100vh;
  padding: 10px;
  display: flex;
}

.stream {
  width: 100%;
  height: 40vw;
  object-fit: contain;
}

.left-items {
  width: calc(35vw - 20px);
}

.right-items {
  width: 65vw;
}

.chart1,
.chart2,
.chart3,
.chart4 {
  width: 100%;
  height: 500px;
  margin: 0 10px 10px 0;
}

.warnings {
  display: flex;
  padding: 10px;
}

.warning {
  color: red;
  margin-right: 15px;
  opacity: 0;
  display: none;

  &--active {
    opacity: 1;
    display: block;
  }
}

// .chartsContainer {
//   height: 33%;
//   width: 100%;
//   df
// }

// .chart2,
// .chart3 {
//   width: 50%;
//   height: 100%;
// }

// .chart4 {
//   height: 33%;
//   width: 100%;
// }
